<div id="empty-modal" class="modal">
    <div class="modal-content">
	<h4>Please do not leave any fields empty.</h4>
    </div> <!-- close modal-content -->
    <div class="modal-footer">
	<button class="btn waves-effect waves-light modal-close" type="submit" name="action">X
    </div>
</div> <!-- close modal -->
