<div id="inUse" class="modal">
    <div class="modal-content">
	<h4>You have already signed up with that email.</h4>
    </div> <!-- close modal-content -->
    <div class="modal-footer">
	<button class="btn waves-effect waves-light modal-close" type="submit" name="action">X
    </div>
</div> <!-- close modal -->