<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<title></title>
	<!-- jquery link -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<!-- momentjs link -->
	<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
	<!-- veiwport info for media query -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- stylesheet -->
	<link href rel="stylesheet" type="text/css">
	
    </head>
    <body>
	{{{ body }}}
	<script src type="text/javascript"></script>
    </body>
</html>
