      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="profile.html">Profile</a></li>
          
          
        </ul>
      </div>
    </div>
  </nav>      


      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
       </div>
    </div>
  </div>
  <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
  </div>
