{{> login }}
<div id="index-banner teal" class="parallax-container">
    <div class="section no-pad-bot">
	<div class="container">
            <br/><br/>
            <h1 class="header center teal-text text-lighten-2">Perfect Pet</h1>
            <div class="row center">
		<h5 class="header col s12 light">New to Perfect Pet? Sign Up Below</h5>
            </div>
            <div class="row center">
		<a href="/newuser" id="signup" class="btn waves-effect waves-light teal lighten-1">Sign Up Now!</a>
		<a class="modal-trigger btn" href="#login-modal">Login</a>
            </div>
            <br/>
	    <br/>

	</div>
    </div>
    <div class="parallax"><img src="../img/pets.jpeg" alt="pets"></div>
</div>


