<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{> nav }}
    {{> login-modal }}
  
  <div class="jumbotron">
      <h1>New to Perfect Pet?</h1>
      <p>Sign Up Below!</p>
      <p><a class="btn btn-primary btn-lg" href="signup-signin.handlebars" role="button">Click Me</a></p>
  </div>
  
  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Bootstrap Javascript CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

