{{> nav}}
<div class="row">
    <form class="col s6">
      <div class="row">
        <div class="input-field col sd12 l6">
          <input placeholder="Pet Name" id="petname" type="text" class="validate">
          <label for="petname">Pet Name</label>
        </div>
	<div class="file-field input-field col s12 l6">
	    <div class="btn">
		<span>Profile Picture</span>
		<input type="file">
	    </div>
	    <div class="file-path-wrapper">
		<input class="file-path validate" type="text">
	    </div>
	</div>
      </div>
      <div class="row">
          <div class="input-field col s6 l3">
              <input placeholder="Birthday" id="birthday" type="text" class="validate">
              <label for="birthday">Birthday</label>
          </div>
          <div class="input-field col s6 l3">
              <input placeholder="Female/Male" id="gender" type="text" class="validate">
              <label for="gender">Gender</label>
          </div>
	  <div class="input-field col s6 l3">
              <input placeholder="Dog/Cat" id="species" type="text" class="validate">
              <label for="species">Species</label>
          </div>
	  <div class="input-field col s6 l3">
              <input placeholder="Calico" id="breed" type="text" class="validate">
              <label for="breed">Breed</label>
          </div>
      </div>
      <div class="row">
	  <div class="input-field col s12">
              <textarea id="about" class="materialize-textarea"></textarea>
              <label for="about">About Pet</label>
          </div>
      </div>
</div>
