{{#with userInfo}}
<div class="row">
    <form method="" class="col s12">
	<div class="row">
            <div class="input-field col s6">
		<input value="{{this.first_name}}" id="firstname" type="text" class="validate">
		<label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
		<input value="{{this.last_name}}" id="lastname" type="text" class="validate">
		<label for="last_name">Last Name</label>
            </div>
	</div>
	<div class="row">
	    <div class="input-field col s6">
		<input value="{{this.email}}" id="email" type="email" class="validate">
		<label for="email">Email</label>
	    </div>
	</div>
	<div class="row center">
            <a  id="updateUser" class="btn-large waves-effect waves-light teal lighten-1">Update User Info!</a>
        </div>
	<div class="row center">
            <a id="delete" class="btn-large waves-effect waves-light teal lighten-1">DELETE ACCOUNT!</a>
        </div>
    </form>
</div> <!-- close outter row -->
{{/with}}

