{{> nav }}
<div class='logo_container'>
  <a href="#top_content" ><img src="/assets/img/logo.png" alt=""></a>
</div>
<div id="top_content" class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 login_box">
          <div class="form-box first_form_box">
            <div class="form-bottom">
              <form role="form" action="/users/login" method="POST" class="login-form">
                <div class="form-group">
                  <label class="sr-only" for="email">email</label>
                  <input type="text" name="email" placeholder="Email..." class="form-username form-control" id="form-username">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="password">Password</label>
                  <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                </div>
                <button type="submit" class="btn">Sign in!</button>
              </form>
            </div>
          </div>
          
        </div>
        <div class="col-sm-1 middle-border"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 signup_box">
          <div class="form-box">
            <div class="form-bottom">
              <form role="form" action="/users/create" method="POST" class="registration-form">
                <div class="form-group">
                  <label class="sr-only" for="Username">Username</label>
                  <input type="text" name="Username" placeholder="Username..." class="form-email form-control" id="form-username">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="PetName">Pet Name</label>
                  <input type="text" name="firstName" placeholder="Pet Name..." class="form-email form-control" id="form-firstName">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="PetHome">Pet Hometown</label>
                  <input type="password" name="password" placeholder="Pet Hometown..." class="form-password form-control" id="form-password">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="PetAge">Pet Age</label>
                  <input type="password" name="password" placeholder="Pet Age..." class="form-password form-control" id="form-password">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">Pet Picture</label>
                  <input type="file" id="exampleInputFile">
                  <p class="help-block">Example block-level help text here.</p>
                </div>
                
                <div class="form-group">
                  <label class="sr-only" for="email">Email</label>
                  <input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="password">Password</label>
                  <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                </div>
                <button type="submit" class="btn">Sign me up!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
