<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Perfect Pet</title>
  <link rel="stylesheet" type="text/css" href="assets/css/Style.css">

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Perfect Pet</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="feed.html">Feed</a></li>
          
          
        </ul>
      </div>
    </div>
  </nav>

  <form>
  <div class="form-group">
    <label for="exampleInputPassword1">Pet's Name</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Pincher">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Pet's Age</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="12">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Pet's Hometown</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Monkeys Eyebrow, Kentucky">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>


  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Bootstrap Javascript CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>